.container{
    padding-left: 180px;
    padding-right: 180px;
}

.content{
    min-height: 800px;
    padding-top: 70px;
}

.user-layout{
    width: 100%;
    position: relative;

    .loading-top{
        width: 100%;
        position: fixed;
        z-index: 100;
    }

    .visi-misi{
        display: flex;
        gap: 40px;
    }

    // Landing Page
    .index{
        .banner{
            width: 100%;
            height: 700px;
            background-size: cover;
            background-position: center;
            // background-image: url('https://images.pexels.com/photos/18523898/pexels-photo-18523898/free-photo-of-jalan-rumah-desa-kampung.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        }

        .title-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .title-section{
            font-size: 46px;
            letter-spacing: 10px;
        }

        // headline lama
        .headline-section{
            width: 100%;
            min-height: 1000px;
            // border-bottom: rgb(152, 152, 152) solid 1px;
            align-content: center;
            position: relative;
            background-image: url('/images/FIX-DESA.jpg');
            // background-image: url('https://images.pexels.com/photos/17167742/pexels-photo-17167742/free-photo-of-potret-gunung.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: cover;
            background-position: center;
            color: rgba(255, 255, 255, 0.618);

            .mask{
                width: 100%;
                height: 1000px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.241);
            }
            
            .subtitle{
                margin-top: -80px;
                font-weight: 400;
                font-size: 24px;
                letter-spacing: 5px;
            }

            .title{
                margin-top: 0px;
                font-size: 72px;
                font-weight: 1000;
                letter-spacing: 10px;
            }

            .btn-cta{
                margin-top: 30px;

                .button{
                    height: 46px;
                    width: 300px;
                }
            }

            .alamat{
                display: flex;
                align-items: center;
                align-content: center;
                gap: 10px;
                position: absolute;
                margin-top: 20px;
                bottom: 40px;
                left: 180px;
                font-size: 12px;
                font-weight: 200;
            }
            
            .alt-foto{
                position: absolute;
                font-size: 12px;
                font-weight: 200;
                bottom: 40px;
                right: 180px;
            }
        }
        
        // headline lama 2
        // .headline-section{
        //     width: 100%;
        //     min-height: 800px;
        //     display: flex;
        //     align-items: center;
        //     overflow: hidden;
        //     position: relative;

        //     .boxs{
        //         width: 1000px;
        //         height: 1000px;
        //         background-color: green;
        //         rotate: 45deg;
        //         border-radius: 3px;
        //         -webkit-border-radius: 3px;
        //         -moz-border-radius: 3px;
        //         -ms-border-radius: 3px;
        //         -o-border-radius: 3px;
        //         // background-image: url('https://images.pexels.com/photos/6158015/pexels-photo-6158015.jpeg');
        //         // background-size: cover;
        //         // background-position: center;
        //         position: absolute;
        //         right: -400px;
        //         top: -300px;
        //         overflow: hidden;

        //         .boxs-image{
        //             width: 110%;
        //             rotate: -45deg;
        //         }
        //     }
        // }

        // headline 
        // .headline-section{
        //     width: 100%;
        //     height: 1000px;

        //     .top-section{
        //         width: 100%;
        //         height: 300px;
        //         position: relative;

        //         .top-wrap{
        //             position: absolute;
        //             bottom: 0;

        //             .subtitle{
        //                 font-weight: 400;
        //                 font-size: 24px;
        //                 letter-spacing: 5px;
        //             }

        //             .title{
        //                 font-size: 64px;
        //                 font-weight: 1000;
        //                 letter-spacing: 15px;
        //             }
        //         }
        //     }

        //     .bottom-section{
        //         margin-top: 20px;
        //     }
        // }

        // subheadline
        .subheadline-section{
            width: 100%;
            min-height: 760px;
            // background-color: rgba(0, 0, 0, 0.067);
            // display: flex;
            // align-items: center;
            // margin-top: 50px;
            padding-top: 140px;
            padding-bottom: 180px;

            .title-section{
                width: 60%;
            }
        }

        // struktur desa
        .struktur-section{
            width: 100%;
            min-height: 720px;
            // background-color: rgba(0, 0, 0, 0.067);
            padding-top: 140px;
            padding-bottom: 140px;
        }

        .galeri-section{
            min-height: 760px;
            padding-top: 100px;
            padding-bottom: 180px;
        }

        .pengumuman-section{
            min-height: 500px;
            width: 100%;
            padding-top: 140px;
            padding-bottom: 220px;
            // background-color: rgba(0, 0, 0, 0.067);
            // align-items: center;
            // justify-content: center;
            // text-align: center;

            .pengumuman-content{
                margin-top: 40px;
                width: 100%;
            }
        }

        .berita-section{
            width: 100%;
            min-height: 720px;
            padding-top: 140px;
            padding-bottom: 220px;
        }
    }

    // Detail Berita
    // .detail-berita{
    //     .isi{
    //         width: 65%;
    //         margin-top: 40px;
    //     }
    // }

    // About
    .about{
        .title-wrap{
            position: relative;
        }

        .about-title{
            font-size: 120px;
            font-weight: bold;
            letter-spacing: 10px;
            opacity: 0.2;
        }

        .foto-section{
            margin-bottom: 80px;
        }

        .headline-section{
            margin-bottom: 120px;
            min-height: 100px;

            .title-section{
                font-size: 64px;
                letter-spacing: 10px;
            }
        }

        .deskripsi-section{
            margin-bottom: 140px;
        }

        .visi-misi-section{
            margin-bottom: 200px;

            .title-section{
                width: 50%;
                margin-bottom: 80px;
                font-size: 64px;
                letter-spacing: 10px;
            }
        }

        .alamat-section{
            margin-bottom: 170px;

            .title-section{
                font-size: 64px;
                letter-spacing: 10px;
            }
        }
    }
}

// responsive
@media only screen and (max-width:992px){

    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .index{

        .title-wrap{
            flex-wrap: wrap;
        }

        .title-section{
            font-size: 36px!important;

            margin-bottom: 30px;
        }

        .headline-section{  
            min-height: 900px!important;
            text-align: center;
            justify-content: center;
            background-position: right!important;

            .mask{
                text-align: center;
                justify-content: center;
            }
            
            .subtitle{
                font-size: 16px !important;
            }

            .title{
                font-size: 36px!important;
            }

            .headline-bottom{
                .alamat{
                    left: -110px;
                    bottom: 140px;
                    rotate: -90deg;
                }
    
                .alt-foto{
                    right: -30px;
                    bottom: 60px;
                    rotate: -90deg;
                }
            }
        }

        .subheadline-section{
            padding-top: 80px!important;
            padding-bottom: 120px!important;

            .title-section{
                width: 100%;
            }
        }

        .struktur-section{
            padding-top: 80px!important;
            padding-bottom: 120px!important;
        }

        .galeri-section{
            padding-top: 20px!important;
            padding-bottom: 120px!important;
        }

        .berita-section{
            padding-top: 80px!important;
            padding-bottom: 120px!important;
        }

        .pengumuman-section{
            padding-top: 80px!important;
            padding-bottom: 120px!important;
        }
    }

    // .about{
    //     .about-title{
    //         font-size: 24px;
    //         font-weight: bold;
    //         letter-spacing: 10px;
    //         opacity: 0.2;
    //         text-wrap: wrap;
    //         width: 100%;
    //     }
    // }

    .galeri{
        .image-wrap{
            column-count: 1!important;
        }
    }

    .about{
        .headline-section{
            .title-section{
                font-size: 36px!important;
                letter-spacing: 10px;
            }
        }

        .deskripsi-section{
            margin-bottom: 80px!important;
        }

        .visi-misi-section{
            margin-bottom: 80px!important;

            .title-section{
                width: 100%!important;
                margin-bottom: 40px!important;
                font-size: 36px!important;
                letter-spacing: 10px;
            }
        }

        .alamat-section{
            margin-bottom: 170px;

            .title-section{
                font-size: 36px!important;
                letter-spacing: 10px;
            }
        }
    }

}